Repository hashicorp/terraform-provider-azurestack, pull requests merged in 2018-07, with the labels that each got.

#9 Client config data source
  azurestack/config.go
  azurestack/data_source_client_config.go
  azurestack/data_source_client_config_test.go
  azurestack/provider.go
  website/docs/d/client_config.html.md
Labels: new-data-source

#16 Load balancer resource
  azurestack/config.go
  azurestack/helpers/azure/resourceid.go
  azurestack/helpers/azure/resourceid_test.go
  azurestack/helpers/azure/validate.go
  azurestack/helpers/azure/validate_test.go
  azurestack/helpers/suppress/string.go
  azurestack/helpers/suppress/string_test.go
  azurestack/helpers/suppress/time.go
  azurestack/helpers/suppress/time_test.go
  azurestack/helpers/validate/network.go
  azurestack/helpers/validate/network_test.go
  azurestack/helpers/validate/time.go
  azurestack/helpers/validate/time_test.go
  azurestack/loadbalancer.go
  azurestack/provider.go
  azurestack/resource_arm_loadbalancer.go
  azurestack/resource_arm_loadbalancer_test.go
  website/azurestack.erb
  website/docs/r/loadbalancer.html.markdown
Labels: new-resource

#18 Updated scripts/changelog-links with correct provider name
  scripts/changelog-links.sh
Labels: bug

#19 some documentation & website fixes
  CHANGELOG.md
  GNUmakefile
  scripts/gofmtcheck.sh
  website/azurestack.erb
  website/docs/d/storage_account.html.markdown
  website/docs/r/dns_a_record.html.markdown
  website/docs/r/dns_zone.html.markdown
  website/docs/r/loadbalancer.html.markdown
  website/docs/r/local_network_gateway.html.markdown
  website/docs/r/network_interface.html.markdown
  website/docs/r/public_ip.html.markdown
  website/docs/r/resource_group.html.markdown
  website/docs/r/storage_account.html.markdown
  website/docs/r/storage_blob.html.markdown
  website/docs/r/storage_container.html.markdown
  website/docs/r/subnet.html.markdown
  website/docs/r/virtual_machine.html.markdown
  website/docs/r/virtual_machine_extension.html.markdown
  website/docs/r/virtual_network.html.markdown
Labels: documentation
